In [22]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score
music_data = pd.read_csv('music.csv')

model = DecisionTreeClassifier()
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [24]:
X = music_data.drop(columns=['genre'])  #X es el dataset incompleto
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [25]:
y = music_data['genre']

In [4]:
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [8]:
model.predict([[21, 1]])  #21, male

array(['HipHop'], dtype=object)

In [9]:
model.predict([[21,1],[22, 0]])

array(['HipHop', 'Dance'], dtype=object)

In [10]:
predictions = model.predict([[21,1],[22,0]])

In [11]:
predictions

array(['HipHop', 'Dance'], dtype=object)

In [12]:
#Exactitud para el modelo

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
score

0.75

In [36]:
#USEMOS 80% PARA TESTEAR

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.8)
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
score

0.26666666666666666

La exactitud cayo a 0,26666

### CONCEPTO BASICO DE MACHINE LEARNING: CUANTOS MAS DATOS LE DEMOS A NUESTRO MODELO, MEJOR RESULTADO.

### Antes de entrenar el modelo, se recomienda hacer limpieza de datos.

#### Aclaracion: Los modelos de Machine Learning para su correcta prediccion requieren de muchisimos mas datos.